.home{
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
}

.left h4{
    color: #FEBB41;
    font-size: 10rem;
    font-weight: bold;
}

.left h6{
    font-size: 3rem;
    font-weight: bold;
    color: #2F2F2F;
}


.popular img{
    width: 100%;
    height: 12rem;
    object-fit: contain;
}
