.badge{
    border-left: 1px solid #888!important;
}

.navbar form{
    box-shadow: 0 0 2px #888;
    border-radius: 10px;
    padding: 0.3rem;
}

.navbar form input{
    background-color: transparent!important;
    width: 90%;
    border: none!important;
}


.navbar form input:focus{
    border: 0!important;
    outline: 0!important;
}

